// _reset.scss

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    line-height: 1.6;
    background-color: $bg-color;
    color: $text-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}